@page
@model FreakyFashion.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";

    uint total = 0;
    foreach (var item in Model.Orders)
    {
        total += item.TotalPrice;
    }
}

<h1 class="text-center">Dashboard</h1>
<div class="col-lg-12 p-3 bg-white rounded shadow-sm mb-5 mx-auto">
    <h2 class="text-center">Ordrar <i class="fa fa-bar-chart" aria-hidden="true"></i></h2>
    <h3 class="ml-3">Antal: @Model.Orders.Count()</h3>
    <h3></h3>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <th scope="row" class="border-0 mb-3">
                            <h4 class="ml-1">@order.Customer.FirstName @order.Customer.LastName <i class="fa fa-user" aria-hidden="true"></i></h4>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <h5><i class="fa fa-university" aria-hidden="true"></i> @total kr</h5>
    </div>
</div>
