@page
@model FreakyFashion.Areas.Admin.Pages.Categories.NewModel
@{
    ViewData["Title"] = "Lägg till kategori";
}

<h3 class="mt-3">Ny kategori</h3>
<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Namn</label>
                <input asp-for="CategoryViewModel.Name" class="form-control" placeholder="Ange namn" />
                <span class="text-danger" asp-validation-for="CategoryViewModel.Name"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Bild</label>
                <input asp-for="CategoryViewModel.ImgUrl" class="form-control" placeholder="Ange URL" />
                <span class="text-danger" asp-validation-for="CategoryViewModel.ImgUrl"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">
        Lägg till
    </button>
</form>
